<footer>
  <div class="social-icon-container">
    <div class="social-icon twitter">
      <a href="https://twitter.com/mtwojan"><img src="img/icons/twitter-icon.svg" alt="twitter icon"></a>
    </div>
    <div class="social-icon linkedin">
      <a href="https://www.linkedin.com/in/michaelwojan"><img src="img/icons/linkedin-icon.svg" alt="linkedin icon"></a>
    </div>
    <div class="social-icon pinterest">
      <a href="https://www.pinterest.com/mikewojan/"><img src="img/icons/pinterest-icon.svg" alt="pinterest icon"></a>
    </div>
    <div class="social-icon instagram">
      <a href="https://www.instagram.com/mtwojan/"><img src="img/icons/instagram-icon.svg" alt="instagram icon"></a>
    </div>
    <div class="social-icon googleplus">
      <a href="https://plus.google.com/u/0/+MichaelWojan"><img src="img/icons/googleplus-icon.svg" alt="google plus icon"></a>
    </div>
  </div>
  <p>&copy; 2016 by Mike Wojan</p>
</footer>
