<footer>
  <div class="social-icon-container">
    <a class="social-icon twitter" href="https://twitter.com/mtwojan"><svg class="icon icon-twitter"><use xlink:href="/img/symbol-defs.svg#icon-twitter"></use></svg></a>

    <a class="social-icon linkedin" href="https://www.linkedin.com/in/michaelwojan"><svg class="icon icon-linkedin2"><use xlink:href="/img/symbol-defs.svg#icon-linkedin2"></use></svg></a>

    <a class="social-icon pinterest" href="https://www.pinterest.com/mikewojan/"><svg class="icon icon-pinterest2"><use xlink:href="/img/symbol-defs.svg#icon-pinterest2"></use></svg></a>

    <a class="social-icon instagram" href="https://www.instagram.com/mtwojan/"><svg class="icon icon-instagram"><use xlink:href="/img/symbol-defs.svg#icon-instagram"></use></svg></a>

    <a class="social-icon googleplus"  href="https://plus.google.com/u/0/+MichaelWojan"><svg class="icon icon-google-plus"><use xlink:href="/img/symbol-defs.svg#icon-google-plus"></use></svg></a>

  </div>
  <p>&copy; 2017 by Mike Wojan</p>
</footer>
