<header>
  <div class="navbar-branding">
    <div class="logo">
      <a href="/"><img src="/img/brand-logo.png" alt="Mike Wojan logo"></a>
    </div>
    <div class="brand">
      <p id="brand-name">Mike Wojan</p>
      <p id="brand-title">UX Designer</p>
    </div>
  </div>
  <ul class="navbar-links">
    <li><a href="/" {% if page.url == "/" %} class="active" {% endif %}>Home</a></li>
    <li><a href="/portfolio" {% if page.url contains "/portfolio" %} class="active" {% endif %}>Portfolio</a></li>
    <li><a href="/docs/wojan-resume.pdf" target="_blank">Resume</a></li>
  </ul>
</header>
