.button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 18px;
  border: 0px;
  border-radius: 5px;
  font-size: .9em;
  color: #fff;
  font-weight: 300;
  background-color: #49AA8B;

  &:hover {
    text-decoration: none;
  }
}

.button-outline {
  border: 1px solid red;
  color: $body-text;
  background-color: #fff;
}
