---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
</head>
<body>

  <div id="wrapper">
    {% include header.html %}
    
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </div>

</body>
</html>
