---
layout: default
---
<div class="intro-container">
  <div class="home-wrapper intro-content">
    <div class="intro-image">
      <img src="img/mike.png" alt="Mike Wojan portrait" class="mike-headshot">
    </div>
    <div class="intro-paragraph">
      <p>Hi, I’m Mike. As a User Experience Designer, I find creative ways to solve problems and delight users.</p>
    </div>
  </div>
  <a class="button" href="/portfolio">Check out my portfolio</a>
</div>

<div class="process-container">
  <h2>My Process</h2>
  <div class="home-wrapper process">
    <div class="process-block user-research">
      <img src="img/icons/user-research-icon.svg" alt="user research icon">
      <h3>User Research</h3>
      <p>Interviews, focus groups, surveys, and competitive analyses</p>
    </div>
    <div class="process-block prototyping">
      <img src="img/icons/wires-and-prototyping-icon.svg" alt="prototyping icon">
      <h3>Wires & Prototyping</h3>
      <p>From napkin to clickable prototype and everything along the way</p>
    </div>
    <div class="process-block usability-testing">
      <img src="img/icons/usability-testing-icon.svg" alt="usability testing icon">
      <h3>Usability Testing</h3>
      <p>Task analysis, A/B testing, accessibility reviews</p>
    </div>
    <div class="process-block graphic-design">
      <img src="img/icons/graphic-design-icon.svg" alt="graphic design icon">
      <h3>Graphic Design</h3>
      <p>Special attention to layout, color palette, and iconograpy</p>
    </div>
  </div>
</div>

<!-- <div class="contact-container">
  <h2>Get in Touch</h2>
</div> -->

<div class="my-toolbox-container">
  <h2>My Toolbox</h2>
  <div class="home-wrapper toolbox-row">
    <div class="toolbox-item">
      <img src="img/icons/toolbox/sketch.png" alt="Sketch app icon">
      <p>Sketch</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/invision.png" alt="InVision app icon">
      <p>InVision</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/axure.png" alt="Axure app icon">
      <p>Axure</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/photoshop.png" alt="Photoshop app icon">
      <p>Photoshop</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/illustrator.png" alt="Illustrator app icon">
      <p>Illustrator</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/trello.png" alt="Trello icon">
      <p>Trello</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/html.png" alt="HTML 5 icon">
      <p>HTML</p>
    </div>
    <div class="toolbox-item">
      <img src="img/icons/toolbox/css.png" alt="CSS 3 icon">
      <p>CSS</p>
    </div>
  </div>
</div>

<div class="community-container">
  <h2>My Community</h2>
  <ul class="community-list">
    <li class="community-item">
      <div class="org-logo-and-info">
        <div class="org-logo">
        </div>
        <div class="org-info">
          <span>UXPA Michigan</span>
          <span>Executive Board</span>
        </div>
      </div>
    </li>
    <li class="community-item">
      <div class="org-logo-and-info">
        <div class="org-logo">
        </div>
        <div class="org-info">
          <span>UXPA Michigan</span>
          <span>Executive Board</span>
        </div>
      </div>
    </li>
    <li class="community-item">
      <div class="org-logo-and-info">
        <div class="org-logo">
        </div>
        <div class="org-info">
          <span>UXPA Michigan</span>
          <span>Executive Board</span>
        </div>
      </div>
    </li>
    <li class="community-item">
      <div class="org-logo-and-info">
        <div class="org-logo">
        </div>
        <div class="org-info">
          <span>UXPA Michigan</span>
          <span>Executive Board</span>
        </div>
      </div>
    </li>
    <li class="community-item">
      <div class="org-logo-and-info">
        <div class="org-logo">
        </div>
        <div class="org-info">
          <span>UXPA Michigan</span>
          <span>Executive Board</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="contact-container">
  <h2>Get in Touch</h2>
  <div class="home-wrapper contact">
    <p>I’m currently working as a <a href="http://ai.umich.edu/teammember/wojan-mike/">UX Designer</a> for the University of Michigan in Ann Arbor. I love meeting new people and talking shop, so let’s get in touch. If you’re in Southeast Michigan, you can usually find me at a <a href="https://www.meetup.com/Detroit-User-Experience/">Detroit UX</a> meetup!</p>
  </div>
  <div class="email-and-resume-container">
    <a class="button" href="mailto:mikewojan@gmail.com">
      <svg class="icon icon-envelop"><use xlink:href="/img/symbol-defs.svg#icon-envelop"></use></svg>
      mikewojan@gmail.com</a>
    <a class="button" href="/docs/wojan-resume.pdf" target="_blank">
      <svg class="icon icon-user-tie"><use xlink:href="/img/symbol-defs.svg#icon-user-tie"></use></svg>
      View my resume
    </a>
  </div>
</div>
