---
layout: default
---

<div class="construction-message-container">
  <div class="construction-content">
    <img src="img/mike.png" alt="Mike Wojan headshot" class="mike-headshot">
    <p>Hi, I'm Mike. I'm making some changes to my portfolio site to showcase the work I did in 2016. We'll be up and running shortly.</p>
      <div class="social-icon-container">
        <div class="social-icon twitter">
          <a href="https://twitter.com/mtwojan"><img src="img/icons/twitter-icon.svg" alt="twitter icon"></a>
        </div>
        <div class="social-icon linkedin">
          <a href="https://www.linkedin.com/in/michaelwojan"><img src="img/icons/linkedin-icon.svg" alt="twitter icon"></a>
        </div>
        <div class="social-icon pinterest">
          <a href="https://www.pinterest.com/mikewojan/"><img src="img/icons/pinterest-icon.svg" alt="twitter icon"></a>
        </div>
        <div class="social-icon instagram">
          <a href="https://www.instagram.com/mtwojan/"><img src="img/icons/instagram-icon.svg" alt="twitter icon"></a>
        </div>
        <div class="social-icon googleplus">
          <a href="https://plus.google.com/u/0/+MichaelWojan"><img src="img/icons/googleplus-icon.svg" alt="twitter icon"></a>
        </div>
      </div>
  </div>
</div>
