header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #E3E3E3;

  @include breakpoint($mq-small) {
    display: block;
    text-align: center;
    padding: 10px 0px 2px;
  }

}

.navbar-links {
  margin: 0;
  padding: 0px 0px 2px;
  @include breakpoint($mq-small) {
    padding: 0px;
    font-size: 1.3em;
  }
  li {
    display: inline-block;
    font-size: .9em;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    &:hover,
    &.active {
      border-bottom: 2px solid $blue;
      text-decoration: none;
    }

    @include breakpoint($mq-small) {
      padding: .7em;
    }
  }
}

.navbar-branding {
  display: flex;
  padding: 10px 0px;
  a:hover {
    text-decoration: none;
  }
  @include breakpoint($mq-small) {
    font-size: 1.2em;
    display: block;
  }
}

.logo img {
  width: 45px;
}

.brand p {
  margin: 0px;
  font-family: 'lato', sans-serif;
  color: #4A4A4A;
  padding: 0px;
}

#brand-name {
  margin: 0px 5px 2px;
  font-size: 1.1em;
  font-weight: 400;
}

#brand-title {
  font-size: .9em;
  margin-left: 5px;
}
