header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #E7E7E7;

  li {
    display: inline;
    margin: 0px 20px;
  }
}

.navbar-branding {

}

.navbar-links{
}
