.project-page {
  img {
    max-width: 100%;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.project-intro-container {
  background-color: #F5F5F5;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;

  h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: #414141;
    margin: 0px;
    font-family: 'Oswald', arial, sans-serif;
  }
}

.project-intro-summary {
  // padding: 0px 180px;

  @include breakpoint($mq-medium) {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
    font-family: lato;
  }
}

//Fix this (redundant)
.project-details-container{
  text-align: left;
  // padding: 0px 180px 30px;

  @include breakpoint($mq-medium) {
    padding: 10px;
  }
}

.page-section {
  padding-top: 20px;
}

.page-section img{
  margin: 20px 0px;
}
