body {
  font-family: 'lato', sans-serif;
  font-size: 100%;
  color: $body-text;

  p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
